<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/docamsIcon.png">
<link rel="stylesheet" href="/bootstrap.css">
<link rel="stylesheet" href="/customStyle.css">
<link rel="stylesheet" href="/home.css">
<script src="https://kit.fontawesome.com/fc94628085.js" crossorigin="anonymous"></script>
<title>Docams JS</title>